.footerCities {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 18vw;
  row-gap: 2vh;
  width: 100%;
  color: white;
}

.footerCities div {
  padding: 12px 16px;
  background: #f7f7f7;
  border-radius: 6px;
  font-size: 15px;
}

.footerInput {
  background-color: #ffffff59;
  border: none;
  border-radius: 9px;
  height: 3rem;
  width: 18rem;
  padding: 14px;
}

.footerBtn {
  background-color: white;
  color: black;
  height: 3rem;
  width: 4rem;
  border-radius: 8px;
  cursor: pointer;
}

.footerBtn:hover {
  background-color: #f1e9e9;
}
